.green-text {
    color: #37bb65
}

.red-text {
    color: #e22134
}

.yellow-text {
    color: #f2960d
}

.gray-text {
    color: #797181;
}

.blue-text {
    color: rgb(59 130 246 / var(--tw-bg-opacity));
}